<!DOCTYPE html>
<html data-theme-mode="{{ desk_theme.lower() }}" data-theme="{{ desk_theme.lower() }}" dir={{ layout_direction }} lang="{{ lang }}">
	<head>
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#0089FF">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#0089FF">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#0089FF">
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,
			maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="white">
		<meta name="mobile-web-app-capable" content="yes">
		<title>{{ app_name }}</title>
		<link rel="shortcut icon"
			href="{{ favicon or "/assets/frappe/images/frappe-favicon.svg" }}" type="image/x-icon">
		<link rel="icon"
			href="{{ favicon or "/assets/frappe/images/frappe-favicon.svg" }}" type="image/x-icon">
		{% for include in include_css -%}
		{{ include_style(include) }}
		{%- endfor -%}
	</head>
	<body>
	<div id ="wrapper"></div>
		{% include "public/icons/timeless/icons.svg" %}
		{% include "templates/includes/splash_screen.html" %}
		<div class="main-section">
			<header></header>
			<div id="body">
				 <kbd>
   				{%  print " Welcome, "+ frappe.session.user  %}
   				
   				<p id="myP"></p>		
   				</kbd>
   				<!--
   				<div id="main_button"> 
   				{% if frappe.session.user == 'Administrator' %}

    				<button onclick="calldialog()">Admin button</button>
				<button onclick="callpage()">Page button</button>
   				 {% else %}

   				 <button>user button</button>

   				 {% endif %} 

   				
   				</div>-->
   				
			</div>
			<footer></footer>
		</div>
		<script type="text/javascript">
		
		function calldialog() {
		let d = new frappe.ui.Dialog({
		    title: 'Enter details',
		    fields: [
			{
			    label: 'First Name',
			    fieldname: 'first_name',
			    fieldtype: 'Data'
			},
			{
			    label: 'Last Name',
			    fieldname: 'last_name',
			    fieldtype: 'Data'
			},
			{
			    label: 'Age',
			    fieldname: 'age',
			    fieldtype: 'Int'
			}
		    ],
		    primary_action_label: 'Submit',
		    primary_action(values) {
		    	 calldialog1(); 
			console.log(values);
			d.hide();
		    }
		});

		d.show();
		}
		function calldialog1() {
		let d1 = new frappe.ui.Dialog({
		    title: 'Enter details 1',
		    fields: [
			{
			    label: 'your Name',
			    fieldname: 'first_name',
			    fieldtype: 'Data'
			},
		       
			{
			    label: 'Phone',
			    fieldname: 'Phone',
			    fieldtype: 'Int'
			}
		    ],
		    primary_action_label: 'call page',
		    primary_action(values) {
		    	callpage();
			console.log(values);
			d1.hide();
		    }
		});

		d1.show();
		}
		function callpage(){
					let page = frappe.ui.make_app_page({
			    title: 'My Page',
			    parent: wrapper, // HTML DOM Element or jQuery object
			    single_column: true // create a page without sidebar
			})
		}
		</script>
		<div id="build-events-overlay"></div>

		<script type="text/javascript">
			window._version_number = "{{ build_version }}";
			// browser support
			window.app = true;
			window.dev_server = {{ dev_server }};

			if (!window.frappe) window.frappe = {};

			frappe.boot = JSON.parse({{ boot }});
			frappe._messages = frappe.boot["__messages"];
			frappe.csrf_token = "{{ csrf_token }}";
		</script>

	{% for include in include_js %}
	{{ include_script(include) }}
	{% endfor %}

	{% include "templates/includes/app_analytics/google_analytics.html" %}
	{% include "templates/includes/app_analytics/mixpanel_analytics.html" %}

		{% for sound in (sounds or []) %}
		<audio preload="auto" id="sound-{{ sound.name }}" volume={{ sound.volume or 1 }}>
			<source src="{{ sound.src }}"></source>
		</audio>
		{% endfor %}
	</body>
</html>
